<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    

<div id="footer">
    <div id="footer-text">All rights are reserved</div>
    <div id="prof-ho">
    <div id="home-link">HOME</div>
    <div id="profile-link">PROFILE</div>
</div>
    </div>
</body>
</html>
