<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="./css/header.css">
</head>
<body>
    <div id="header">
        <div id="site-name">CODEIAL</div>
        <% if (locals.user){ %>  
             
        <div id="username"><a href="/profile" style="cursor:pointer"><%=user.name%></a></div>
        <div id="logout-icon">|| <a href="/logout" style="cursor:pointer"> LOGOUT</a> </div>
        <% } else{ %>
        
        <div id="username"><a href="/signup" style="cursor:pointer">SIGN UP</a></div>
        <div id="logout-icon">|| <a href="/login" style="cursor:pointer">  LOGIN</a> </div>
        
   <% }%>
</div>
</body>
</html>

