<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/profile.css">
    <title>Document</title>
</head>
<body>
    <div id="one">
    <h1>
        Hello my friend <%=name%>;
    </h1>
    <p>
        
        
        <h2>email:<%=email%></h2>
        <h2>password:<%=password%></h2>
        
        <h2>Username:<%=Username%></h2>
    </p>
    </div>
   <a href="/logout">
    <div id="two">
     LOG OUT   
    </div>
</a>
</body>
</html>