body{
    height:auto;
    width:120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    #header{
    height:18%;
    }
    #main{
        height:60%;
    }
    #footer{
        height:20%;
    }
    #two{
        margin-left:10vh;
        width:20vh;
        height:8vh;
        background: linear-gradient(red,green);
        font-size: 4vh;
        font-weight: 800;
        padding:1vh;
        padding-top: 2vh;
        color:black;
        text-decoration: none;
    }
    
    #li-container{
        width:70vh;
        height:auto;
        
        color:azure;
        font-size: 3.5vh;
        margin-top: 10vh;
        padding :2vh;
list-style: none;
    }
    #comments{
        height: auto;
        width: 60vh;
        background-color: rgb(232, 232, 239);
        color: rgb(16, 12, 12);
        padding: 1vh;
        overflow-wrap: break-word;
    }
    
    #post-creator{
        width:auto;
               font-size: 3vh;
        color: black;
    }
    #form{
        margin:1vh;
        
    }
#post-content{
    background-color: black;
    font-size: 3.2vh;
}
#each-comment{
    border-bottom: 1.5px solid slategray;
    list-style: none;
    width:auto;
}
#comment-content{
height:auto;
color: rgb(39, 29, 29);


}
#comment-user{
    width:auto;
    font-size: 2.5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(25, 24, 24);
font-weight: 700;
}
a{
    color: blue;
    text-decoration: none;
}